<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RJWateFallView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CDFAE061DE2D9DE0025F956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDFAE1F1DE2D9DF0025F956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDFAE2A1DE2D9DF0025F956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
